page-launch ion-content {
	height: 100vh;
	margin-top: 50px;

	ion-card {
		margin-top: -50px !important;
		margin-bottom: 75px !important;
		position: sticky;

		span {
			color: #ddd !important;
		}

		h2 {
			font-size: 3rem !important;
		}

		.second-stage-wrapper,
		.first-stage-wrapper p {
			font-size: 1.6rem;
		}

		.cargo-stage-wrapper {
			position: absolute;
			top: 15%;
			left: 20%;
			font-size: 2rem;
			width: 60%;

			.line {
				margin: 0 0 5px 0 !important;
			}
		}

		.second-stage-wrapper {
			position: absolute;
			top: 35%;
			left: 20%;
			font-size: 2rem;
			width: 60%;

			.line {
				margin: 0 0 5px 0 !important;
			}
		}

		.first-stage-wrapper {
			position: absolute;
			top: 65%;
			left: 20%;
			font-size: 2rem;
			width: 60%;

			.line {
				margin: 0 0 5px 0 !important;
			}
		}

		ul {
			list-style: circle;

			li {
				margin: 10px 0;
				font-size: 1.6rem;
			}
		}
	}

	.line {
		border-bottom: 1px solid #fff;
		margin-bottom: 15px;
		margin-top: 5px;
	}
}


ion-title {
	position: absolute;
	top: 18px;
	left: 0;
	right: 0;
	width: 75%;
	margin: 0 auto;
}

#map {
	max-width: 100%;
	height: 250px;
	margin-bottom: 25px;
}
