<div *ngIf="launch">
	<ion-header>
		<ion-toolbar color="primary">
			<ion-icon float-left padding (click)="backHome()" name="arrow-back"></ion-icon>
			<ion-title text-center>{{ launch.mission_name }}</ion-title>
		</ion-toolbar>
	</ion-header>

	<ion-content text-center>
		<div id="map"></div>
		<ion-card text-left padding color="secondary">
			<div class="row">
				<img *ngIf="launch.links.mission_patch_small" src="{{ launch.links.mission_patch_small }}"
					alt="{{ launch.mission_name }}" style="width: 70px;">
				<div margin-left>
					<span>{{ launch.launch_site.site_name }}</span>
					<h1>{{ launch.mission_name }}</h1>
					<p>{{ launch.launch_date_local }}</p>
				</div>
			</div>
			<div margin-top class="line"></div>
			<p margin-top>{{ launch.details }}</p>
		</ion-card>
	</ion-content>
</div>
