<ion-toolbar color="primary">
	<button ion-button icon-only clear (click)="openMenu()">
		<ion-icon name="menu"></ion-icon>
	</button>
	<ion-title text-center>SpaceX Launches</ion-title>
</ion-toolbar>

<ion-menu type="overlay" side="left" [content]="mycontent">
	<ion-header>
		<ion-toolbar>
			<ion-title text-center>SpaceX Launches</ion-title>
		</ion-toolbar>
	</ion-header>
	<ion-content>
		<ion-list>
			<ion-item (click)="openMediaPage($event)">
				<i class="fas fa-newspaper" margin-right></i> What did I miss?
			</ion-item>
			<ion-item menuClose detail-none>Close Menu</ion-item>
		</ion-list>
	</ion-content>
</ion-menu>

<ion-nav #mycontent [root]="rootPage"></ion-nav>
