<ion-card color="secondary">
	<a (click)="openLaunchPage(launch.flight_number)">
		<ion-card-header>
			<span>{{ launch.rocket.rocket_name }} {{ launch.rocket.type }}, Block
				{{ launch.rocket.first_stage.cores[0].block }}</span><br>
			<h2 href="#" target="_blank" class="card-header">{{ launch.mission_name }}</h2>
			<p class="card-para">{{ launchDate }}</p>
		</ion-card-header>
	</a>
	<ion-card-content>
		<a href="#" class="row">
			<ion-icon name="calendar"></ion-icon>
			<p margin-left text-uppercase>save</p>
		</a>
	</ion-card-content>
</ion-card>
