page-home {
	h6 {
		margin-bottom: -15px;
	}
}

.countdown-wrapper {
	display: flex;
	justify-content: center;
	align-items: center;

	i {
		margin-right: 10px;
		font-size: 2em;
	}

	p {
		font-size: 2rem;
	}
}
